<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!--================ Basic page needs ================-->
    <title>{{ company.name|title }} | Digital Menu</title>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--================ Favicon ================-->
    <link rel="shortcut icon" href="{% static 'velikorodnov/images/favicon.ico' %}">
    <!--================ Google web fonts ================-->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700%7CSatisfy&amp;display=swap"
          rel="stylesheet">
    <!--================ Vendor CSS ================-->
    <link rel="stylesheet" href="{% static 'velikorodnov/css/fontawesome-all.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'velikorodnov/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'velikorodnov/css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'velikorodnov/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'velikorodnov/css/linearicons.css' %}">
    <link rel="stylesheet" href=" {% static 'velikorodnov/css/owl.carousel.min.css' %}">
    <!--================ Theme CSS ================-->
    <link rel="stylesheet" href="{% static 'velikorodnov/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'velikorodnov/css/responsive.css' %}">
    <!--================ Vendor JS ================-->
</head>
<body>
{#todo: resimler kaymıs düzelt#}
<div class="mad-preloader"></div>
<div id="mad-page-wrapper" class="mad-page-wrapper">

    <!--================ Header ================-->
    <header id="mad-header" class="mad-header mad-header--transparent">
        <div class="container">
            <!--================ Section ================-->
            <div class="mad-header-section">
                <div class="mad-header-items item-col-3">
                    <div class="mad-header-item">
                        <a href="tel:{{ company.phone }}">
                            <div><i class="material-icons">phone</i>{{ company.phone|phone2numeric }}</div>
                        </a>
                    </div>
                    <div class="mad-header-item">
                        <a href="#" class="mad-logo"><img
                                src="{{ company.logo.url }}" alt=""></a>
                    </div>
                    <div class="mad-header-item">
                        <div class="mad-social-icons">
                            <ul>
                                <li>
                                    <a href="{{ company.facebook }}" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ company.instagram }}" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ company.twitter }}" target="_blank">
                                        <i class="fab fa-tripadvisor"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================ End of Section ================-->
    </header>
    <!--================ End of Header ================-->
    <!--================ Breadcrumb ================-->
    <div class="mad-breadcrumb with-bg" data-bg-image-src="{% static 'velikorodnov/images/1920x544_bg3.jpg' %}">
        <div class="container">
            <nav class="mad-breadcrumb-path"><span><a
                    href="#">Vroom Restoraunt</a></span> - <span>Menu</span>
            </nav>
            <h1 class="mad-page-title">{{ company.name }}</h1>
        </div>
    </div>
    {% regroup entries by category.group as entries_by_date %}
    <!--================ End of Breadcrumb ================-->
    <div class="mad-content no-pd">
        <div class="container">
            <div class="mad-section mad-section--stretched mad-colorizer--scheme-">
                <div class="mad-colorizer-bg-color">
                    <div class="with-svg-item svg-right-side"><img
                            src="{% static 'velikorodnov/images/top_half_right.png' %}" alt=""></div>
                </div>
                <!--================ Tabs ================-->
                <div class="mad-tabs">

                    <!--================ Tabs Navigation ================-->
                    <div role="tablist" aria-label="Tabs v1" class="mad-tabs-nav justify-content-center">
                        {#                <span class="mad-active">#}
                        {#                    <a id="tab-1-link" href="#tab-1" role="tab" aria-selected="false" aria-controls="tab-1"#}
                        {#                       class="mad-tab-link">Food Menu</a>#}
                        {#                </span>#}
                        {% for ent in entries_by_date %}

                            {% if forloop.first %}
                                <span class="mad-active">
                            {% else %}
                                <span>
                            {% endif %}
                        <a id="tab-{{ forloop.counter }}-link" href="#tab-{{ forloop.counter }}" role="tab"
                           aria-selected="true" aria-controls="tab-{{ forloop.counter }}"
                           class="mad-tab-link">{{ ent.grouper }} Menu</a>
                        </span>
                        {% endfor %}
                    </div>
                    <!--================ End of Tabs Navigation ================-->
                    <!--================ Tabs Container ================-->
                    <div class="mad-tabs-container">
                        <!--================ Tab ================-->


                        {% for ent in entries_by_date %}
                            {#                            <h4>{{ ent.grouper }}</h4>#}
                            {% regroup ent.list by category as entries_by_tab %}

                            <div id="tab-{{ forloop.counter }}" tabindex="0" role="tabpanel"
                                 aria-labelledby="tab-{{ forloop.counter }}-link" class="mad-tab">
                                <div class="mad-specs-section">

                                    {% for entry in entries_by_tab %}

                                        {% for item in entry.list %}
                                            {% if forloop.first %}

                                                <div class="{% cycle 'row row-lg-reverse' 'row' as val %}">
                                                {% ifequal val 'row row-lg-reverse' %}
                                                    <div class="col-lg-6">
                                                        <figure><img
                                                                src="{{ item.category.image.url }}"
                                                                alt="{{ forloop.counter|add:forloop.parentloop.counter0 }}">
                                                        </figure>
                                                    </div>
                                                {% endifequal %}
                                                <div class="col-lg-6">
                                                <!-- Our Specifications -->
                                                <div class="mad-specs">
                                                <h4>{{ entry.grouper }}</h4>

                                                <!-- Specification item -->

                                            {% endif %}
    <div class="mad-col">
                                        <div class="mad-spec-item">
                                            <div class="mad-spec-info">
                                                <div class="mad-spec-header">
                                                    <div class="mad-spec-title">{{ item.name }}</div>
                                                    <div class="mad-line"></div>
                                                    <div class="mad-spec-price">{{ item.price }}₺</div>
                                                </div>
                                                <div class="mad-spec-tags">
                                                    <div class="mad-spec-el">{{ item.detail }}
                                                    </div>
                                                    {#                                                    <a href="#" class="mad-link">vegetarian</a>,#}
                                                    {#                                                    <a href="#" class="mad-link">vegan</a>#}
                                                </div>
                                            </div>
                                        </div>
    </div>

                                        {% if forloop.last %}
                                            <!-- End of Specification item -->

                                            </div>
                                            <!-- End of Our Specifications -->
                                            </div>
                                            {% ifequal val 'row' %}

                                                <div class="col-lg-6">
                                                    <figure><img src="{{ item.category.image.url }}"
                                                                 alt="{{ forloop.counter0|add:forloop.parentloop.counter0 }}">
                                                    </figure>
                                                </div>

                                            {% endifequal %}
                                            </div>

                                        {% endif %}
                                        {% endfor %}


                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}
                        <!--================ End of Tab ================-->

                    </div>
                    <!--================ End of Tabs Container ================-->
                </div>
                <!--================ End of Tabs ================-->
            </div>
        </div>
    </div>
    <!--================ Footer ================-->
    <footer id="mad-footer" class="mad-footer">
        <!--================ Footer row ================-->
        <div class="mad-footer-main">
            <div class="container">
                <div class="row hr-size-1">
                    <div class="col-md-4">
                        <!--================ Widget ================-->
                        <section class="mad-widget">
                            <h4 class="mad-widget-title">We Are Open</h4>
                            <div class="mad-timetable mad-vr-list">
                                <ul>
                                    <li>
                                        <div class="mad-tt-title">Brunch</div>
                                        Saturday: 10am – 2pm
                                    </li>
                                    <li>
                                        <div class="mad-tt-title">Dinner</div>
                                        Monday – Thursday: 5pm – 10pm <br>
                                        Friday – Saturday: 4pm – 11pm
                                    </li>
                                    <li>
                                        <div class="mad-tt-title">Happy Hour</div>
                                        Monday – Thursday: 5pm – 6pm <br>
                                        Friday – Saturday: 2pm – 4pm
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!--================ End of Widget ================-->
                    </div>
                    <div class="col-md-4">
                        <!--================ Widget ================-->
                        <section class="mad-widget">
                            <a href="#" class="mad-logo content-element-3"><img
                                    src="{{ company.logo.url }}" alt=""></a>
                            <div class="mad-vr-list content-element-5">
                                <ul>
                                    <li>
                                        Pasaj, <br>
                                        Muğla, TURKEY<br>
                                        <a href="#" class="mad-dir mad-link">Get Direction</a>
                                    </li>
                                    <li>
                                        {{ company.phone }}<br>
                                        +90 543 332 55 61<br>
                                        <a href="mailto:furkanfbr@gmail.com" class="mad-link">{{ company.email }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mad-social-icons style-2 size-big">
                                <ul class="justify-content-center">
                                    <li>
                                        <a href="{{ company.facebook }}" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ company.twitter }}" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ company.instagram }}" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ company.tripadvisor }}" target="_blank">
                                            <i class="fab fa-tripadvisor"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ company.youtube }}" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ company.pinterest }}" target="_blank">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!--================ End of Widget ================-->
                    </div>
                    <div class="col-md-4">
                        <!--================ Widget ================-->
                        <section class="mad-widget">
                            <h4 class="mad-widget-title">Useful Links</h4>
                            <div class="mad-vr-list">
                                <ul>
                                    <li><a href="#" class="mad-link">Home</a></li>
                                    <li><a href="#" class="mad-link">About</a></li>
                                    <li><a href="#" class="mad-link">Menu</a></li>
                                    <li><a href="#" class="mad-link">Events</a></li>
                                    <li><a href="#" class="mad-link">Contact</a></li>
                                    <li><a href="#" class="mad-link">News</a></li>
                                    <li><a href="#" class="mad-link">Reservation</a></li>
                                </ul>
                            </div>
                        </section>
                        <!--================ End of Widget ================-->
                    </div>
                </div>
            </div>
        </div>
        <!--================ End of Footer row ================-->
        <p class="copyrights">Copyright © 2020 <a href="#" class="mad-link link-white">LeMar</a>.
            All Rights Reserved.</p>
    </footer>
    <!--================ End of Footer ================-->
</div>
<script src="{% static 'velikorodnov/js/modernizr.js' %}"></script>
<script src="{% static 'velikorodnov/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/jquery.easing.1.3.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/monkeysan.jquery.nav.1.0.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/handlebars-v4.0.5.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/jquery.parallax-1.1.3.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/monkeysan.tabs.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/retina.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/mad.sticky-header-section.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/brands.min.js' %}"></script>
<script src="{% static 'velikorodnov/js/mad.app.js' %}"></script>
</body>

</html>
