<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basmoti.css' %}">
    <div class="breadcrumb-area bg-img ptb-80" style="background-image:url(http://preview.hasthemes.com/basmoti/basmoti/assets/img/banner/breath.jpg);">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h3>menu</h3>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">menu page</li>
                </ul>
            </div>
        </div>
    </div>
</head>
<body>

{% for item in category %}
    <div class="single-menu-product mb-30">
        <div class="menu-product-img">
            <img alt="" src="{{ item.get_image.url }}">
        </div>
        <div class="menu-product-content">
            <div class="menu-title-price">
                <div class="menu-title">
                    <h4>
                        {{ item.name }}
                    </h4>
                </div>
                <div class="menu-price">
                    <span>{{ item.price }} </span>
                </div>
            </div>
            <p>Categories: Subway, Masala, Indian</p>
        </div>
    </div>
{% endfor %}
</body>
</html>