.la-ball-clip-rotate-pulse,
.la-ball-clip-rotate-pulse > div {
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.la-ball-clip-rotate-pulse {
display: block;
font-size: 0;
color: #fff;
}
.la-ball-clip-rotate-pulse.la-dark {
color: #333;
}
.la-ball-clip-rotate-pulse > div {
display: inline-block;
float: none;
background-color: currentColor;
border: 0 solid currentColor;
}
.la-ball-clip-rotate-pulse {
width: 32px;
height: 32px;
}
.la-ball-clip-rotate-pulse > div {
position: absolute;
top: 50%;
left: 50%;
border-radius: 100%;
}
.la-ball-clip-rotate-pulse > div:first-child {
position: absolute;
width: 32px;
height: 32px;
background: transparent;
border-style: solid;
border-width: 2px;
border-right-color: transparent;
border-left-color: transparent;
-webkit-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(.09, .57, .49, .9) infinite;
-moz-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(.09, .57, .49, .9) infinite;
-o-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(.09, .57, .49, .9) infinite;
animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(.09, .57, .49, .9) infinite;
}
.la-ball-clip-rotate-pulse > div:last-child {
width: 16px;
height: 16px;
-webkit-animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(.09, .57, .49, .9) infinite;
-moz-animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(.09, .57, .49, .9) infinite;
-o-animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(.09, .57, .49, .9) infinite;
animation: ball-clip-rotate-pulse-scale 1s cubic-bezier(.09, .57, .49, .9) infinite;
}
.la-ball-clip-rotate-pulse.la-sm {
width: 16px;
height: 16px;
}
.la-ball-clip-rotate-pulse.la-sm > div:first-child {
width: 16px;
height: 16px;
border-width: 1px;
}
.la-ball-clip-rotate-pulse.la-sm > div:last-child {
width: 8px;
height: 8px;
}
.la-ball-clip-rotate-pulse.la-2x {
width: 64px;
height: 64px;
}
.la-ball-clip-rotate-pulse.la-2x > div:first-child {
width: 64px;
height: 64px;
border-width: 4px;
}
.la-ball-clip-rotate-pulse.la-2x > div:last-child {
width: 32px;
height: 32px;
}
.la-ball-clip-rotate-pulse.la-3x {
width: 96px;
height: 96px;
}
.la-ball-clip-rotate-pulse.la-3x > div:first-child {
width: 96px;
height: 96px;
border-width: 6px;
}
.la-ball-clip-rotate-pulse.la-3x > div:last-child {
width: 48px;
height: 48px;
} @-webkit-keyframes ball-clip-rotate-pulse-rotate {
0% {
-webkit-transform: translate(-50%, -50%) rotate(0deg);
transform: translate(-50%, -50%) rotate(0deg);
}
50% {
-webkit-transform: translate(-50%, -50%) rotate(180deg);
transform: translate(-50%, -50%) rotate(180deg);
}
100% {
-webkit-transform: translate(-50%, -50%) rotate(360deg);
transform: translate(-50%, -50%) rotate(360deg);
}
}
@-moz-keyframes ball-clip-rotate-pulse-rotate {
0% {
-moz-transform: translate(-50%, -50%) rotate(0deg);
transform: translate(-50%, -50%) rotate(0deg);
}
50% {
-moz-transform: translate(-50%, -50%) rotate(180deg);
transform: translate(-50%, -50%) rotate(180deg);
}
100% {
-moz-transform: translate(-50%, -50%) rotate(360deg);
transform: translate(-50%, -50%) rotate(360deg);
}
}
@-o-keyframes ball-clip-rotate-pulse-rotate {
0% {
-o-transform: translate(-50%, -50%) rotate(0deg);
transform: translate(-50%, -50%) rotate(0deg);
}
50% {
-o-transform: translate(-50%, -50%) rotate(180deg);
transform: translate(-50%, -50%) rotate(180deg);
}
100% {
-o-transform: translate(-50%, -50%) rotate(360deg);
transform: translate(-50%, -50%) rotate(360deg);
}
}
@keyframes ball-clip-rotate-pulse-rotate {
0% {
-webkit-transform: translate(-50%, -50%) rotate(0deg);
-moz-transform: translate(-50%, -50%) rotate(0deg);
-o-transform: translate(-50%, -50%) rotate(0deg);
transform: translate(-50%, -50%) rotate(0deg);
}
50% {
-webkit-transform: translate(-50%, -50%) rotate(180deg);
-moz-transform: translate(-50%, -50%) rotate(180deg);
-o-transform: translate(-50%, -50%) rotate(180deg);
transform: translate(-50%, -50%) rotate(180deg);
}
100% {
-webkit-transform: translate(-50%, -50%) rotate(360deg);
-moz-transform: translate(-50%, -50%) rotate(360deg);
-o-transform: translate(-50%, -50%) rotate(360deg);
transform: translate(-50%, -50%) rotate(360deg);
}
}
@-webkit-keyframes ball-clip-rotate-pulse-scale {
0%,
100% {
opacity: 1;
-webkit-transform: translate(-50%, -50%) scale(1);
transform: translate(-50%, -50%) scale(1);
}
30% {
opacity: .3;
-webkit-transform: translate(-50%, -50%) scale(.15);
transform: translate(-50%, -50%) scale(.15);
}
}
@-moz-keyframes ball-clip-rotate-pulse-scale {
0%,
100% {
opacity: 1;
-moz-transform: translate(-50%, -50%) scale(1);
transform: translate(-50%, -50%) scale(1);
}
30% {
opacity: .3;
-moz-transform: translate(-50%, -50%) scale(.15);
transform: translate(-50%, -50%) scale(.15);
}
}
@-o-keyframes ball-clip-rotate-pulse-scale {
0%,
100% {
opacity: 1;
-o-transform: translate(-50%, -50%) scale(1);
transform: translate(-50%, -50%) scale(1);
}
30% {
opacity: .3;
-o-transform: translate(-50%, -50%) scale(.15);
transform: translate(-50%, -50%) scale(.15);
}
}
@keyframes ball-clip-rotate-pulse-scale {
0%,
100% {
opacity: 1;
-webkit-transform: translate(-50%, -50%) scale(1);
-moz-transform: translate(-50%, -50%) scale(1);
-o-transform: translate(-50%, -50%) scale(1);
transform: translate(-50%, -50%) scale(1);
}
30% {
opacity: .3;
-webkit-transform: translate(-50%, -50%) scale(.15);
-moz-transform: translate(-50%, -50%) scale(.15);
-o-transform: translate(-50%, -50%) scale(.15);
transform: translate(-50%, -50%) scale(.15);
}
}
.fs-wrapper{
position:relative;
}
.fs-loading-wrapper{
display:none;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
.fs-loading-wrapper .loading-icon{
left:50%;
top:50%;
transform:translate(-50%);
}
.fs-loading-wrapper .loading-background {
opacity:0.5;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:white;
}
.required{
border:1px solid #EB5545!important;
}.text-center{    text-align: center;}form.fs-style-1 {    display: block;    margin: 30px;    overflow: hidden;    background: #fff;    border: 1px solid #e4e4e4;    border-radius: 5px;    font-size: 0;}form.fs-style-1 .fs-label,.fs-input {    display: block;    padding:10px 20px 10px;    vertical-align: top;    font-size: 13px;    color: #939393;}form.fs-style-1 .fs-input > select,form.fs-style-1 .fs-input > input{    background-color: #fff;    background-image: none;    border: 1px solid #c6c6c6;    border-radius: 0;    box-shadow: none;    color: #555;    display: block;    font-size: 1.5em;    line-height: 1.42857;    max-width: 100%;    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;    outline: none;    width:100%;    opacity:.6;    height:3em;}form.fs-style-1 .fs-input > select{    padding: 0 10px; }form.fs-style-1 .fs-input > input:focus, .fs-input > select:focus {    opacity: 1;}form.fs-style-1 .fs-label label{    font-size: 13px;    font-weight: bold;    text-transform: uppercase;    color: #939393;    cursor: pointer;}@media (min-width: 850px) {    form.fs-style-1  > div {        display: inline-block;    }    form.fs-style-1 .col-submit {        display: block;    }    form.fs-style-1 .col-1, form.fs-style-1 .col-2, form.fs-style-1 .col-3, form.fs-style-1 .col-4 {        box-shadow: 1px 1px #e4e4e4;        border: none;    }    form.fs-style-1 .col-1 {        width: 100%    }    form.fs-style-1 .col-2 {        width: 50%    }    form.fs-style-1 .col-3 {        width: 33.3333333333%    }    form.fs-style-1 .col-4 {        width: 25%    }    form.fs-style-1 .col-submit button {        width: 30%;        margin: 0 auto;    }}form.fs-style-1  > div > .col-4 {    height: 86px;}form.fs-style-1 .col-submit {    text-align: center;    padding: 20px;}form.fs-style-1 .fs-input textarea {    height: 200px;    width: 100%;}form.fs-style-1 input[type=submit] {    padding: 20px 40px;    margin: 0;    text-transform: uppercase;    background: #da7900;    height: auto!important;    vertical-align: middle;}form.fs-style-1 .fs-input input[type=radio] {    display: none;}form.fs-style-1 .fs-input input[type="radio"]:checked + label { border: 2px solid rgba(222, 103, 2, 0.42);}form.fs-style-1 .fs-input label{    width: 100%;    text-align: center;    padding: 10px;    text-transform:uppercase;    border: 1px solid #c6c6c6;    border-radius: 3px;}form.fs-style-1 .fs-input label span,.fs-input label img{    vertical-align: middle;}form.fs-style-1 .fs-radio{    display: -webkit-box;    padding: 0;}form.fs-style-1 .fs-radio > .col-3{    box-shadow: none;    padding:20px;}.clockpicker-popover{    position: absolute;}.clockpicker-popover .popover-title{    color: #0bd400!important;}#ui-datepicker-div{    background: #fff;}.ui-datepicker-prev{    cursor: pointer;    float: left;    padding: 10px;    color: #ff0000;}.ui-datepicker-next{    cursor: pointer;    float: right;    padding: 10px;    color: #ff0000;}.ui-datepicker-title{    text-align: center;    font-weight: 600;    font-size: 2rem;    color: #0bd400;}.ui-datepicker-calendar{    width: auto;}.ui-field-error_notice li{    list-style: disc;    color: red !important;}.ui-field-error_notice{    margin: 10px 10px 10px 30px;}.form-loading .loading-group{    display: block;}.loading-group,.form-loading .ui-field-submit .btn{    display: none;}.fs-wrapper div.date:before {    content: "\e836";    font-size: 26px;}.fs-wrapper div.hour:before {    content: "\e864";    font-size: 15px;}.fs-wrapper div.hour:before, .fs-wrapper div.date:before {    font-family: 'Linearicons-Free';    speak: none;    font-style: normal;    font-weight: normal;    font-variant: normal;    text-transform: none;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    line-height: 46px;    display: block;    margin: 0 !important;    position: absolute;    right: 28px;    top: 2px;    z-index: 2;    color: #bfbfd1;}.cssload-thecube {    width: 43px;    height: 43px;    margin: 0 auto;    margin-top: 29px;    position: relative;    transform: rotateZ(45deg);}.cssload-thecube .cssload-cube {    position: relative;    transform: rotateZ(45deg);}.cssload-thecube .cssload-cube {    float: left;    width: 50%;    height: 50%;    position: relative;    transform: scale(1.1);}.cssload-thecube .cssload-cube:before {    content: "";    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    background-color: #e4b95b;    animation: cssload-fold-thecube 2.76s infinite linear both;    transform-origin: 100% 100%;}.cssload-thecube .cssload-c2 {    transform: scale(1.1) rotateZ(90deg);}.cssload-thecube .cssload-c3 {    transform: scale(1.1) rotateZ(180deg);}.cssload-thecube .cssload-c4 {    transform: scale(1.1) rotateZ(270deg);}.cssload-thecube .cssload-c2:before {    animation-delay: 0.35s;}.cssload-thecube .cssload-c3:before {    animation-delay: 0.69s;}.cssload-thecube .cssload-c4:before {    animation-delay: 1.04s;}@keyframes cssload-fold-thecube {    0%, 10% {        transform: perspective(80px) rotateX(-180deg);        opacity: 0;    }    25%,    75% {        transform: perspective(80px) rotateX(0deg);        opacity: 1;    }    90%,    100% {        transform: perspective(80px) rotateY(180deg);        opacity: 0;    }}.clockpicker .input-group-addon{cursor:pointer}.clockpicker-moving{cursor:move}.clockpicker-align-left.popover>.arrow{left:25px}.clockpicker-align-top.popover>.arrow{top:17px}.clockpicker-align-right.popover>.arrow{left:auto;right:25px}.clockpicker-align-bottom.popover>.arrow{top:auto;bottom:6px}.clockpicker-popover .popover-title{background-color:#fff;color:#999;font-size:24px;font-weight:700;line-height:30px;text-align:center}.clockpicker-popover .popover-title span{cursor:pointer}.clockpicker-popover .popover-content{background-color:#f8f8f8;padding:12px}.popover-content:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px}.clockpicker-plate{background-color:#fff;border:1px solid #ccc;border-radius:50%;width:200px;height:200px;overflow:visible;position:relative;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.clockpicker-canvas,.clockpicker-dial{width:200px;height:200px;position:absolute;left:-1px;top:-1px}.clockpicker-minutes{visibility:hidden}.clockpicker-tick{border-radius:50%;color:#666;line-height:26px;text-align:center;width:26px;height:26px;position:absolute;cursor:pointer}.clockpicker-tick.active,.clockpicker-tick:hover{background-color:#c0e5f7;background-color:rgba(0,149,221,.25)}.clockpicker-button{background-image:none;background-color:#fff;border-width:1px 0 0;border-top-left-radius:0;border-top-right-radius:0;margin:0;padding:10px 0}.clockpicker-button:hover{background-image:none;background-color:#ebebeb}.clockpicker-button:focus{outline:0!important}.clockpicker-dial{-webkit-transition:-webkit-transform 350ms,opacity 350ms;-moz-transition:-moz-transform 350ms,opacity 350ms;-ms-transition:-ms-transform 350ms,opacity 350ms;-o-transition:-o-transform 350ms,opacity 350ms;transition:transform 350ms,opacity 350ms}.clockpicker-dial-out{opacity:0}.clockpicker-hours.clockpicker-dial-out{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);transform:scale(1.2,1.2)}.clockpicker-minutes.clockpicker-dial-out{-webkit-transform:scale(.8,.8);-moz-transform:scale(.8,.8);-ms-transform:scale(.8,.8);-o-transform:scale(.8,.8);transform:scale(.8,.8)}.clockpicker-canvas{-webkit-transition:opacity 175ms;-moz-transition:opacity 175ms;-ms-transition:opacity 175ms;-o-transition:opacity 175ms;transition:opacity 175ms}.clockpicker-canvas-out{opacity:.25}.clockpicker-canvas-bearing,.clockpicker-canvas-fg{stroke:none;fill:#0095dd}.clockpicker-canvas-bg{stroke:none;fill:#c0e5f7}.clockpicker-canvas-bg-trans{fill:rgba(0,149,221,.25)}.clockpicker-canvas line{stroke:#0095dd;stroke-width:1;stroke-linecap:round}.clockpicker-button.am-button{margin:1px;padding:5px;border:1px solid rgba(0,0,0,.2);border-radius:4px}.clockpicker-button.pm-button{margin:1px 1px 1px 136px;padding:5px;border:1px solid rgba(0,0,0,.2);border-radius:4px}